.labl {
  width: 4rem;
  height: 2rem;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 2rem;
  box-shadow: inset 0rem 0.05rem 0.15rem rgba(0, 0, 0, 0.4),
    inset 0px -0.05rem 0.15rem rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.mobile .label {
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  display: block;
  border-radius: 2rem;
  /* box-shadow: inset 0rem 0.05rem 0.15rem rgba(0, 0, 0, 0.4),
    inset 0px -0.05rem 0.15rem rgba(255, 255, 255, 0.4); */
  cursor: pointer;
  transition: 0.3s;
}
.labl:after {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 1.8rem;
  box-shadow: 0rem 0.05rem 0.1rem rgba(0, 0, 0, 0.2);
}

#darkmode_toggle {
  width: 0;
  height: 0;
  /* visibility: hidden; */
  display: hidden;
}
#darkmode_toggle:checked + .labl,
#darkmode_toggle:checked + .label {
  background: #242424;
}
#darkmode_toggle:checked + .labl:after {
  left: 3.9rem;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
#darkmode_toggle:checked + .label:after {
  left: 0;
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.labl,
.labl:after,
.label,
.label:after {
  transition: 0.3s;
}
.labl:active:after {
  width: 2.1rem;
}
.labl img {
  position: absolute;
  width: 1.2rem;
  z-index: 50;
  top: 0.4rem;
}
.label img {
  position: absolute;
  width: 1.2rem;
  z-index: 100;
  top: 0.3rem;
}
.labl img.sun {
  left: 0.4rem;
  transition: 0.3s;
}
.labl img.moon {
  right: 0.4rem;
  transition: 0.3s;
}
.label img.sun,
.label img.moon {
  left: 0.3rem;
  transition: 0.3s;
}
